body {
  /* remove default margin and padding */
  margin: 0;
  padding: 0;
  font-family: 'Inter var', sans-serif;

  --color-primary-dark: #ff6163;
  --color-primary: #ffe7e8;
  --color-primary-light: #f9eaea;
  --color-secondary: #172b4d;
  --color-text: #28352f;
  --color-border: #e2cfcf
}

.tags {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  margin-right: 8px;
  margin-top: 8px;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

.buttons {
  width: max-content;
  margin-top: 12px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: var(--color-primary-dark);
}

.buttons:hover {
  box-shadow: 0px 8px 16px rgba(255, 97, 99, 0.24);
}
.buttons:disabled {
  background: #dd5153;
}

.section-title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--color-text);
}

header h1 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin: 0;
}

header h1 a {
  text-decoration: none;
  color: var(--color-text);
}

header .toggleNav {
  width: 40px;
  height: 40px;
  margin: 4px 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}

#headline {
  margin: 50px 0; /* heigh of header =48px */
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-position: top;
  background-size: cover;
}

#headline h1,
p {
  text-align: center;
  margin: 50px 24px 0 24px;
  color: var(--color-secondary);
}

#headline h1 span {
  color: var(--color-primary-dark);
}

#headline p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

#headline ul {
  margin: 60px 24px 0 24px;
  padding: 0;
  width: 170px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#headline a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-top: 100px;
  color: var(--color-text);
}

#headline .social {
  width: 20px;
  height: 20px;
  color: var(--color-text);
}

#headline .social:hover {
  color: var(--color-primary-dark);
}

.btn-round {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#works {
  display: grid;
  justify-content: center;
  align-items: center;
}

#works h2 {
  text-align: center;
  grid-row: 1 / 2;
  padding: 0;
  margin: 0;
}

#works hr {
  width: 48px;
  height: 4px;
  margin-top: 10px;
  background-color: var(--color-primary-dark);
  border-radius: 24px;
  grid-row: 2 / 3;
}

#works ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0; /* remove default padding */
  grid-row: 3 / 4;
}

#works ul .work {
  width: 325px;
  height: 500px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

#works ul .work img {
  width: 100%;
  height: 275px;
  background-color: var(--color-primary-light);
}

#works ul .work div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#works ul .work div h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 6px;
}

.list-tag {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 16px;
}

#works ul .work ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#works ul .work div button {
  width: max-content;
  margin-top: 12px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: var(--color-primary-dark);
}
#aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutme .resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("images/illustration-aboutme-mobile.png");
  background-position: top;
  background-size: cover;
  margin-bottom: 50px;
}

#aboutme div h2 {
  text-align: center;
  margin: 50px 12px 24px 12px;
}

#aboutme div p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 0 12px 24px 12px;
}

#aboutme .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#aboutme .skills .skill {
  margin-top: 24px;
  width: 325px;
  height: 375px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-light);
}

#aboutme .skills .skill img {
  width: 60px;
  height: 60px;
  padding: 18px;
  margin-top: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 16px 24px rgba(37, 47, 137, 0.08);
}

#aboutme .skills .skill h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #633434;
  margin: 60px 0 0 0;
}

#aboutme .skills .skill ul{
  justify-content: center;
  padding: 0;
}

#aboutme .skills .skill li {
  background-color: white;
}
